<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Wsu_Logger>
      <version>1.0.0.0</version>
    </Wsu_Logger>
  </modules>
  <global>
    <models>
      <wsu_logger>
        <class>Wsu_Logger_Model</class>
        <resourceModel>wsu_logger_resource</resourceModel>
      </wsu_logger>
      <wsu_logger_resource>
        <class>Wsu_Logger_Model_Resource</class>
        <entities>
          <logger>
            <table>wsu_logger_logger</table>
          </logger>
          <download_log>
            <table>wsu_download_log</table>
          </download_log>
        </entities>
      </wsu_logger_resource>
    </models>
    <resources>
      <wsu_logger_setup>
        <setup>
          <module>Wsu_Logger</module>
        </setup>
      </wsu_logger_setup>
    </resources>
    <helpers>
      <wsu_logger>
        <class>Wsu_Logger_Helper</class>
      </wsu_logger>
    </helpers>
    <blocks>
      <wsu_logger>
        <class>Wsu_Logger_Block</class>
      </wsu_logger>
    </blocks>
    <log>
      <core>
        <!--<writer_model>Zend_Log_Writer_Stream</writer_model>-->
        <writer_model>Wsu_Logger_Model_Log_Writer_Stream</writer_model>
      </core>
    </log>
    <events>
      <controller_action_postdispatch_api>
        <observers>
          <apilog>
            <type>singleton</type>
            <class>apilog/observer</class>
            <method>controller_action_postdispatch_api</method>
          </apilog>
        </observers>
      </controller_action_postdispatch_api>
    </events>
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Wsu_Logger before="Mage_Adminhtml">Wsu_Logger_Adminhtml</Wsu_Logger>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <default>
    <wsu_logger>
      <apilog>
        <enablelogging>1</enablelogging>
        <logformat>
<![CDATA[REQUEST URI: ###REQUESTURI###
CLIENT IP: ###CLIENTIP###
REQUEST:
====================
###REQUEST###

RESPONSE:
====================
###RESPONSE###]]>
        </logformat>
        <logfilename>api.log</logfilename>
      </apilog>
    </wsu_logger>
  </default>
</config>
