<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Wsu_Auditing>
      <version>1.0.0.0</version>
    </Wsu_Auditing>
  </modules>
  <global>
    <models>
      <wsu_auditing>
        <class>Wsu_Auditing_Model</class>
        <resourceModel>wsu_auditing_resource</resourceModel>
      </wsu_auditing>
      <wsu_auditing_resource>
        <class>Wsu_Auditing_Model_Resource</class>
        <entities>
          <auditing>
            <table>wsu_auditing_auditing</table>
          </auditing>
          <download_log>
            <table>wsu_download_log</table>
          </download_log>
          <stock_movement>
            <table>wsu_stock_movement</table>
          </stock_movement>
          <history>
            <table>wsu_auditing_history</table>
          </history>
        </entities>
      </wsu_auditing_resource>
      <cataloginventory>
        <rewrite>
          <stock>Wsu_Auditing_Model_CatalogInventory_Stock</stock>
        </rewrite>
      </cataloginventory>
    </models>
    <resources>
      <wsu_auditing_setup>
        <setup>
          <module>Wsu_Auditing</module>
        </setup>
      </wsu_auditing_setup>
    </resources>
    <helpers>
      <wsu_auditing>
        <class>Wsu_Auditing_Helper</class>
      </wsu_auditing>
    </helpers>
    <blocks>
      <wsu_auditing>
        <class>Wsu_Auditing_Block</class>
      </wsu_auditing>
    </blocks>
    <log>
      <core>
	  	<writer_model>Wsu_Auditing_Model_Log_Writer_Stream</writer_model>
      </core>
    </log>
    <events>
      <controller_action_postdispatch_api>
        <observers>
          <apilog>
            <type>singleton</type>
            <class>apilog/observer</class>
            <method>controller_action_postdispatch_api</method>
          </apilog>
        </observers>
      </controller_action_postdispatch_api>
      <checkout_submit_all_after>
        <observers>
          <wsu_auditing>
            <class>wsu_auditing/stock_observer</class>
            <method>checkoutAllSubmitAfter</method>
          </wsu_auditing>
        </observers>
      </checkout_submit_all_after>
      <cataloginventory_stock_item_save_after>
        <observers>
          <wsu_auditing>
            <type>singleton</type>
            <class>wsu_auditing/stock_observer</class>
            <method>saveStockItemAfter</method>
          </wsu_auditing>
        </observers>
      </cataloginventory_stock_item_save_after>
      <cataloginventory_stock_revert_products_sale>
        <observers>
          <wsu_auditing>
            <class>wsu_auditing/stock_observer</class>
            <method>stockRevertProductsSale</method>
          </wsu_auditing>
        </observers>
      </cataloginventory_stock_revert_products_sale>
      <catalog_product_import_finish_before>
        <observers>
          <wsu_auditing>
            <class>wsu_auditing/stock_observer</class>
            <method>catalogProductImportFinishBefore</method>
          </wsu_auditing>
        </observers>
      </catalog_product_import_finish_before>
      <controller_action_layout_render_before_adminhtml_catalog_product_edit>
        <observers>
          <wsu_auditing>
            <class>wsu_auditing/stock_observer</class>
            <method>addStockMovementsTab</method>
          </wsu_auditing>
        </observers>
      </controller_action_layout_render_before_adminhtml_catalog_product_edit>
      <sales_order_item_cancel>
        <observers>
          <inventory>
            <type>disabled</type>
          </inventory>
          <wsu_auditing>
            <class>wsu_auditing/stock_observer</class>
            <method>cancelOrderItem</method>
          </wsu_auditing>
        </observers>
      </sales_order_item_cancel>
    </events>
  </global>
  <adminhtml>
	<layout>
		<updates>
			<wsu_auditing>
				<file>wsu/wsu_auditing.xml</file>
			</wsu_auditing>
		</updates>
	</layout>
    <events>
      <controller_action_layout_generate_blocks_after>
        <observers>
          <wsu_auditing_index>
            <type>singleton</type>
            <class>wsu_auditing/observer</class>
            <method>addAuditingGridJavascriptBlock</method>
          </wsu_auditing_index>
        </observers>
      </controller_action_layout_generate_blocks_after>
      
      <!--
            <model_save_after>
                <observers>
                    <wsu_auditing>
                        <class>wsu_auditing/observer_model_save</class>
                        <method>modelAfter</method>
                    </wsu_auditing>
                </observers>
            </model_save_after>
            <model_save_before>
                <observers>
                    <wsu_auditing>
                        <class>wsu_auditing/observer_model_save</class>
                        <method>modelBefore</method>
                    </wsu_auditing>
                </observers>
            </model_save_before>
            <model_delete_after>
                <observers>
                    <wsu_auditing>
                        <class>wsu_auditing/observer_model_delete</class>
                        <method>modelAfter</method>
                    </wsu_auditing>
                </observers>
            </model_delete_after>
            <catalog_product_attribute_update_before>
                <observers>
                    <wsu_auditing>
                        <class>wsu_auditing/observer_product_attribute_update</class>
                        <method>catalogProductAttributeUpdateBefore</method>
                    </wsu_auditing>
                </observers>
            </catalog_product_attribute_update_before>
            <catalog_product_import_finish_before>
                <observers>
                    <wsu_auditing>
                        <class>wsu_auditing/observer_product_import</class>
                        <method>catalogProductImportFinishBefore</method>
                    </wsu_auditing>
                </observers>
            </catalog_product_import_finish_before>
            <wsu_auditing_rowurl>
                <observers>
                    <catalog_product>
                        <class>wsu_auditing/rowUrl_model_product</class>
                        <method>setRowUrl</method>
                    </catalog_product>
                    <cms_page>
                        <class>wsu_auditing/rowUrl_model_page</class>
                        <method>setRowUrl</method>
                    </cms_page>
                </observers>
            </wsu_auditing_rowurl>
            <wsu_auditing_log>
                <observers>
                    <wsu_auditing>
                        <class>wsu_auditing/observer_log</class>
                        <method>log</method>
                    </wsu_auditing>
                </observers>
            </wsu_auditing_log>
	  -->
      
    </events>
  </adminhtml>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Wsu_Auditing before="Mage_Adminhtml">Wsu_Auditing_Adminhtml</Wsu_Auditing>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <crontab>
    <jobs>
      <wsu_auditing>
        <schedule>
          <cron_expr>0 3 * * *</cron_expr>
        </schedule>
        <run>
          <model>wsu_auditing/clean::scheduledCleanAdminMonitoring</model>
        </run>
      </wsu_auditing>
    </jobs>
  </crontab>
  <default>
    <wsu_auditing>
      <apilog>
        <enablelogging>1</enablelogging>
        <logformat>
          <![CDATA[REQUEST URI: ###REQUESTURI###
CLIENT IP: ###CLIENTIP###
REQUEST:
====================
###REQUEST###

RESPONSE:
====================
###RESPONSE###]]>
        </logformat>
        <logfilename>api.log</logfilename>
      </apilog>
    </wsu_auditing>
  </default>
</config>
